/*Regola di stile in h1*/
h1{
    /*Size del font*/
    font-size: 25px;
    font-weight: bolder;
    color: black;
    margin-top: 50px;
    margin-left: 3px;
    margin-right: 3px;
}
h2{
    font-size: 15px;
    font-weight: bolder;
    color: black;
    margin-top: 1px;
    margin-left: 3px;
    margin-right: 3px;
}