@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
    color: black;
    margin: 0;
    padding: 10px;
}


h1,h2,h3,h4,h5,h6{font-weight: unset}

header {
    background-color: snow;
    background-image: url("zen.jpeg");
    background-size: 660px;
    background-repeat: no-repeat;
    position: relative;
    height: 320px;

/*float: left;*/
}
.page-wrapper{
    background-color: #DCC9A1;
    max-width: 660px;
    top: 5px;
    left: 5px;
    right: 5px;
}
a:link{
    color: red;
    text-decoration: none;
}
a:hover{
    color: blanchedalmond;
    text-decoration: underline;
}
a:active{
    color: blue;
}
a:visited{
    color: aquamarine;
    text-decoration: underline;
}